body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* SOLUTION */

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}

.body {
  flex: 1;
  display: flex;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 16px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.container {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 16px;
  margin: 16px;
  width: 300px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Note  In html webpage is divide into 3 part
            1.  header
            2.  content
            3.  footer
        
        1.  We need side bar and content stick together. Do it by store them in the body container

            <div class="body">
              <div class="sidebar">
                <ul>
                  <li><a href="google.com">⭐ - link one</a></li>
                  <li><a href="google.com">🦸🏽‍♂️ - link two</a></li>
                  <li><a href="google.com">🖌️ - link three</a></li>
                  <li><a href="google.com">👌🏽 - link four</a></li>
                </ul>
              </div>
              
                <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
                <div class="card">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi quaerat qui iure ipsam maiores velit tempora, deleniti nesciunt fuga suscipit alias vero rem, corporis officia totam saepe excepturi odit ea.</div>
                <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis illo ex quas, commodi eligendi aliquam ut, dolor, atque aliquid iure nulla. Laudantium optio accusantium quaerat fugiat, natus officia esse autem?</div>
                <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil impedit eius amet adipisci dolorum vel nostrum sit excepturi corporis tenetur cum, dolore incidunt blanditiis. Unde earum minima laboriosam eos!</div>
                <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis illo ex quas, commodi eligendi aliquam ut, dolor, atque aliquid iure nulla. Laudantium optio accusantium quaerat fugiat, natus officia esse autem?</div>
                <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil impedit eius amet adipisci dolorum vel nostrum sit excepturi corporis tenetur cum, dolore incidunt blanditiis. Unde earum minima laboriosam eos!</div>
              
            </div>
  
          2.  we need the card item to display in row position. Do this by display: flex in body container

              .body{
                  display:  flex;
              }

          3.  Need the container to store the card item

              <div class="container">
                  <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
                  <div class="card">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi quaerat qui iure ipsam maiores velit tempora, deleniti nesciunt fuga suscipit alias vero rem, corporis officia totam saepe excepturi odit ea.</div>
                  <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis illo ex quas, commodi eligendi aliquam ut, dolor, atque aliquid iure nulla. Laudantium optio accusantium quaerat fugiat, natus officia esse autem?</div>
                  <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil impedit eius amet adipisci dolorum vel nostrum sit excepturi corporis tenetur cum, dolore incidunt blanditiis. Unde earum minima laboriosam eos!</div>
                  <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis illo ex quas, commodi eligendi aliquam ut, dolor, atque aliquid iure nulla. Laudantium optio accusantium quaerat fugiat, natus officia esse autem?</div>
                  <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nihil impedit eius amet adipisci dolorum vel nostrum sit excepturi corporis tenetur cum, dolore incidunt blanditiis. Unde earum minima laboriosam eos!</div>
                </div>
              </div>

          4.  We need the card display in row. Do this by display: flex in the card container

              .container{
                  display: flex;
              }

          5.  We need card item display in the square box. Do it by determine a width of card item.

              .card{
                  width: 300px;
              }

          6.  We need space between the card item and the card container. Do this by add padding in card container.

              .container{
                  display: flex;
                  padding: 32px;
              }

          7.  We nedd space between each card item. Do this by add margin in the card item.

              .card{
                  display: flex;
                  margin: 16px;
              }

          8.  We need card item to display in flexible layout in the card container 
  
              .container{
                    display: flex;
                    padding: 32px;
                    flex-wrap: wrap;
              }

         9. Setting Font style in header
        
              .header {
                height: 72px;
                background: darkmagenta;
                color: white;
                font-size: 32px;
                weight: 900;
              }

        10. Set vertical center position for text in header

              .header {
                height: 72px;
                background: darkmagenta;
                color: white;
                font-size: 32px;
                weight: 900;
                display: flex;
                align-items: center;
              }

        11. Set space between header and edge of screen

              .header {
                height: 72px;
                background: darkmagenta;
                color: white;
                font-size: 32px;
                weight: 900;
                display: flex;
                align-items: center;
                padding: 0 16px;
              }

        12. Set wide of sidebar

              .sidebar{
                  width: 300px;
              }
            
        13. Force sidebar to not shrink

              .sidebar{
                  width: 300px;
                  flex-shrink: 0;
              }

        14. Set center vertical and horizontal of text in footer

              .footer{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

        15. Delete underline in sidebar

              a{
                  text-decoration: none;
              }

        16. Style text in sidebar

              a{
                  text-decoration: none;
                  color: white;
              }

        17. Delete bullet from link

              ul{
                  list-style-type: none;
              }       

        18. Set space between the line of link

            li{
                margin-bottom: 10px;
            }
*/
