@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

/* SOLUTION: */

.modal {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.icon {
  /* this keeps the icon from getting smashed by the text */
  flex-shrink: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.text {
  margin-bottom: 16px;
}
/*Note   Divide webpage into 2 part
          1. ! Icon
          2.  content part

        1. Build container to store all item content

          <div class="container">
              <div class="header">Are you sure you want to do that?</div>
              <div class="close-button">✖</div>
              <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur excepturi id soluta, numquam minima rerum doloremque eveniet aspernatur beatae commodi. Cupiditate recusandae ad repellendus quidem consectetur sequi amet aspernatur cumque!</div>
              <button class="continue">Continue</button>
              <button class="cancel">Cancel</button>
          </div> 

        2.  We need header text and X icon align together .So we need to build container to store this 2 item

          <div class="header">Are you sure you want to do that?
              <div class="close-button">✖</div>
          </div>

        3.  We need Icon ! and content in the row position and modal container is the container that store all item in the page.
            We force them into row position by display: flex 

          .modal{
              display: flex;
          }

        4. The Icon ! is shrink so we need to unshrink it

          .icon{
              flex-shrink: 0;
           }

        5.  We need the header title and the Icon x are align together . So we do it by display: flex

          .header{
              
              display: flex;
           }

        6.  We need the Icon X is at the right of page. Do it by justify-content: space-between;

        .header{
            
            display: flex;
            justify-content: space-between;/*set equal space to between item in the container */ 
         }

        7.  We need padding in the modal

        .modal{
            display: flex;
            padding: 16px;
        } 
  
        8.  We need bold and larger size title header

        .header{
            border: 1px solid brown;
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            font-size: 18px;
        }
*/
